<h1>Sign in</h1>

<div class="row">
    <div class="span6 offset3">

    	<%= form_for(@user) do |f| %>
			<% unless @user.errors.count == 0   %>
				<div data-alert class="alert-box warning">
  					The form contains <%= pluralize(@user.errors.count, "error") %>.
					<% @user.errors.full_messages.each do |msg| %>
 	 					<li><%= msg %></li>
					<% end %>
					<!-- <a href="/signup" class="close">&times;</a> -->
				</div>
			<% end %>
      	<% end %>

      	
        <%= form_for :session, url: sessions_path do |user| %>
	    	<%=	user.text_field :email, placeholder: "email" %>
	    	<%= user.password_field :password, placeholder: "password" %>
	    	<div class="row">
  				<div class="small-6 small-centered columns">
	    			<%= user.button "enter" %>
	    		</div>
	    	</div>
    	<% end %>

    	<p class="new-user"> new user? <%= link_to "Sign up now!", signup_path %> </p>
    </div>
</div>