<div class="row">
<div class="small-9 large-6 small-centered column">
  <%= video.id %>
  <%= link_to video.title, video_path(video) %>
  <%= video.created_at %>
  <%= link_to "Show", video_path(video) %> |
          <%= link_to "Edit", edit_video_path(video) %> |
          <%= link_to "Delete", video_path(video), :method => :delete, :confirm => "Are you sure?" %>

</div>
</div>
