<%= render "header" %>      
         
<h2 class="title">Introduce Yourself</h2>

<p>Step 2: upload a new video.</p>

<!-- 1. The 'widget' div element will contain the upload widget.
The 'player' div element will contain the player IFrame. -->


<div id="widget"><iframe id="widget" type="text/html" width="640" height="390"
  src="https://www.youtube.com/upload_embed" frameborder="0"></iframe></div>
<!-- <div id="player"></div> -->


<%= form_tag @upload_info[:url], :multipart => true do %>
  <%= hidden_field_tag :token, @upload_info[:token] %>
<!--   <iframe id="widget" type="text/html" width="640" height="390"
  src="https://www.youtube.com/upload_embed" frameborder="0"></iframe> -->
  <%= label_tag :file %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload video" %>
<% end %>    

