<!DOCTYPE html>
<html>
<head>
  <title>VidMe</title>
  <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet"> -->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "data-turbo-links-track" => true %>
  <%= csrf_meta_tag %>
</head>

<body>

      <h1><a href="/">VidMe</a></h1>

        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>    
</body>
</html>
